{% extends 'base.html.twig' %}

{% block title %}Page restaurant
{% endblock %}

{% block body %}
	<header>
		<div>
			<div class="backAll">
				<i class="fas fa-arrow-left back"></i>
				<a class="back" href="{{ path('app_home') }}">Accueil</a>
			</div>
			<a href="/accueil"><img class="logo_takeBreak" src="img/take_a_break.png" alt="Logo Take a Break"></a>
		</div>
		<div class="your_restaurant">
			<h3>Votre restaurant</h3>
		</div>
	</header>
	<main>
		<div class="selection">
			<div class="background_mc">
				<a class="linkForm_restaurant" href="#">Macdonald<br>Part-Dieu</a>
			</div>
		</div>
		<div class="informations_restaurant">
			<div class="background_price">
				<i class="fas fa-solid fa-euro-sign euro"></i>
				<h4>Prix</h4>
				<p>Menu à partir de 4,95€</p>
			</div>
			<div class="background_location">
				<i class="fas fa-solid fa-map-marker-alt location"></i>
				<a class="localisation" href="https://www.google.fr/maps/place/McDonald's/@45.7617377,4.8551299,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ebc4f4464247:0x7aaa6ecbe5071139!8m2!3d45.7617377!4d4.8573186" target="_blank"><h4>Localisation</h4></a>
				<p>350 m de l'école MDS</p>
			</div>
			<div class="background_clock">
				<i class="fas fa-clock clock"></i>
				<a class="localisation" href="https://www.google.com/search?client=opera&q=mcdonald%27s+lyon+part+dieu&sourceid=opera&ie=UTF-8&oe=UTF-8&tpsf=openc" target="_blank"><h4>Horaires</h4></a>
				<p>Ouvert toute le semaine</p>
			</div>
		</div>
		<div class="avis">
			<h5>Notes</h5>
			<div class="etoile">
				<div class="etoile1">
					<i class="fas fa-star"></i>
				</div>
				<div class="etoile2">
					<i class="fas fa-star"></i>
				</div>
				<div class="etoile3">
					<i class="fas fa-star"></i>
				</div>
				<div class="etoile4">
					<i class="fas fa-star"></i>
				</div>
				<div class="etoile5">
					<i class="fas fa-star"></i>
				</div>
			</div>
		</div>
		<a class="linkAll_restaurant" href="/restaurant">Voir tous les restaurants</a>
	</main>
	<footer>
		<h3>Propulsé par DotCom</h3>
	</footer>

	<link rel="stylesheet" href="{{ asset('css/page_restaurant.css') }}">
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

	<script>
		const etoile1 = document.querySelector('.etoile1');
		const etoile2 = document.querySelector('.etoile2');
		const etoile3 = document.querySelector('.etoile3');
		const etoile4 = document.querySelector('.etoile4');
		const etoile5 = document.querySelector('.etoile5');

		etoile1.addEventListener('click', () => {
			etoile1.style.color = '#FFD700';
			etoile2.style.color = '#707070';
			etoile3.style.color = '#707070';
			etoile4.style.color = '#707070';
			etoile5.style.color = '#707070';
		});

		etoile2.addEventListener('click', () => {
			etoile1.style.color = '#FFD700';
			etoile2.style.color = '#FFD700';
			etoile3.style.color = '#707070';
			etoile4.style.color = '#707070';
			etoile5.style.color = '#707070';
		});

		etoile3.addEventListener('click', () => {
			etoile1.style.color = '#FFD700';
			etoile2.style.color = '#FFD700';
			etoile3.style.color = '#FFD700';
			etoile4.style.color = '#707070';
			etoile5.style.color = '#707070';
		});

		etoile4.addEventListener('click', () => {
			etoile1.style.color = '#FFD700';
			etoile2.style.color = '#FFD700';
			etoile3.style.color = '#FFD700';
			etoile4.style.color = '#FFD700';
			etoile5.style.color = '#707070';
		});

		etoile5.addEventListener('click', () => {
			etoile1.style.color = '#FFD700';
			etoile2.style.color = '#FFD700';
			etoile3.style.color = '#FFD700';
			etoile4.style.color = '#FFD700';
			etoile5.style.color = '#FFD700';
		});
	</script>
{% endblock %}
